
input[type="text"] {
    margin: 0;
    padding: 0 10px;
    vertical-align: middle;
    background: none;
    border: 1px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

input[type="text"]:focus {
	outline: 0;
    border: 1px solid #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type="text"]:-moz-placeholder { color: #fff; }
input[type="text"]:-ms-input-placeholder { color: #fff; }
input[type="text"]::-webkit-input-placeholder { color: #fff; }


.subscribe button {
	height: 52px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #ff5a56;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 52px;
    color: #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.subscribe button:hover {
    background: #555;
    color: #fff;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.subscribe button:active {
	outline: 0;
    background: #555;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.subscribe button:focus {
	outline: 0;
	background: #555;
	color: #fff;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0;
	background: #555;
	color: #fff;
}

.btn-success {
    background: transparent !important;
}
